@import "microreset";
.level-editor {
	
    &__header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background-color: darkorange;
        font-size: 3rem;
		font-weight: 700;
		-webkit-background-clip: text;
		color: transparent;
  		text-shadow: 2px 2px 3px rgba(white,0.4);

        span {
            font-size: 0.8rem;
            font-weight: 300;
        }
        &:before {
            position: absolute;
            top: -2rem;
            right: -2rem;
            left: -2rem;
            bottom: 0;
			content: '';
			color: greenyellow;
			box-shadow: inset 0 0 5rem darken(rgba(greenyellow, 0.2), 100%), 0 0 2rem rgba(black, 0.6);
			background-color: darken(rgba(greenyellow, 0.3), 25%);
			z-index: -1;
        }
	}
	
	&__content {
		position: fixed;
		top: 5.5rem;
		left: 0;
		right: 0;
		bottom: 4.5rem;
		margin: 1rem;
	}

	&__toolbox {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		bottom: calc(150px + #{$grid-gutter});
		box-shadow: 1px 5px 18px rgba(black, 0.2);

		.header {
			padding: 0.3rem 0.5rem;
			background-color: #efefef;
			margin: 0.5rem 0;
			font-size: 1.2rem;
			font-weight: 700;
		}

		.element {
			background-color: #f9f9f9;
			padding: 0.2rem;
			margin-bottom: 2px;
		}
	}

	&__minimap {
		position: absolute;
		bottom: 0;
		height: 150px;
		width: 200px;
		box-shadow: 1px 5px 18px rgba(black, 0.2);
	}

	&__level {
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc(200px + #{$grid-gutter});
		right: calc(250px + #{$grid-gutter});
		box-shadow: 1px 5px 18px rgba(black, 0.2);
		overflow: auto;
	}

	&__elements {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 250px;
		box-shadow: 1px 5px 18px rgba(black, 0.2);
	}

    &__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background-color: steelblue;
        color: black;
        text-align: center;
        &:before {
            position: absolute;
            top: 0rem;
            right: -2rem;
            left: -2rem;
            bottom: -2rem;
            content: '';
            box-shadow: inset 0 0 2rem rgba(black, 0.8);
        }
	}
	
	&__level-selector {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		&__underlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(black, 0.5);
		}

		&__content {
			position: absolute;
			top: 10vh;
			bottom: 10vh;
			left: 20vw;
			right: 20vw;
			background-color: white;
			box-shadow: 0 0 30px rgba(black, 0.2);

			.level-selector {
				padding: 0.5rem 1rem;
				display: inline-block;
				width: 25%;
				cursor: pointer;
			}

			.level-name {
				text-align: center;
				padding: 0.5rem;
				font-weight: 700;
				font-size: 1.2rem;
			}

			.level-preview {
				width: 200px;
				height: 150px;
				margin: 0 auto;
				overflow: hidden;
				box-shadow: 0 0 30px rgba(black, 0.2);

			}
			
		}

		&__footer {
			padding: 1rem;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;

			background-color: steelblue;
			color: black;
			text-align: center;
			&:before {
				position: absolute;
				top: 0rem;
				right: -2rem;
				left: -2rem;
				bottom: -2rem;
				content: '';
				box-shadow: inset 0 0 2rem rgba(black, 0.8);
			}
		}
	}
}

.level {
	border: 1px solid black;
	overflow: hidden;
}