
.btn--big {
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
    top: -5px;
    padding: 0.5rem 1.6rem;
    background-color: $btn-color-base;
    color: lighten($btn-color-base, 10%);
    font-weight: 500;
    font-size: 1.2rem;
    border: 0;
    border-radius: 1px;
    background-image: linear-gradient( to top, $btn-color-darker 0%, $btn-color-dark 100%);
    box-shadow: inset 0px 1px 1px $btn-bottom-color-darker, 0px 5px 0px 0px $btn-bottom-color-darker, 0px 10px 5px $btn-shadow-color;
    text-shadow: 0 1px 4px rgba(darken($btn-color-base, 60%), 0.9);
    text-decoration: none;
    outline: none;

    transition: all 0.05s;

    &:hover {
        color: lighten($btn-color-base, 15%);
    }
    &:active {
        border: 0;
        color: lighten($btn-color-base, 20%);
        top: -2px;
        background-image: linear-gradient( to top, $btn-color-dark, $btn-color-darker);
        box-shadow: inset 0px 1px 0px $btn-bottom-color-dark, 0px 2px 0px 0px $btn-bottom-color-darker, 0px 5px 3px $btn-shadow-color;
        text-shadow: 0 1px 2px rgba(darken($btn-color-base, 60%), 0.9);
    }
}

.btn--selector {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.3rem 0.5rem;
    margin-bottom: 3px;
    border: 0;
    background-color: orange;
    color: white;
    background-image: linear-gradient( to top, $btn-color-darker 0%, $btn-color-dark 100%);
    font-size: 1rem;
    text-shadow: 0 1px 4px rgba(darken($btn-color-base, 60%), 0.9);
    text-decoration: none;
    outline: none;
}

.btn--icon {
    border: 0;
    display: inline-block;
    cursor: pointer;
    background-color: orange;
    color: white;
    padding: 0.2rem 0.3rem;
    background-image: linear-gradient( to top, $btn-color-darker 0%, $btn-color-dark 100%);
    text-shadow: 0 1px 4px rgba(darken($btn-color-base, 60%), 0.9);
    text-decoration: none;
    outline: none;
}